{% extends ':Emails:theme1.html.twig' %}

{% block body %}
    <img src="https://static.wtis.com.br/c/rogeriomenezes/header1.jpg?20180114013600">
    <div style="line-height:1.5;font-family:arial, helvetica, sans-serif;color:#4e4e4e;text-align:justify;font-size:16px;min-height:16px;vertical-align:top;padding:10px 30px">
        <br>


        {{ mensagem }}
        <br><br>
    </div>
{% endblock %}