<html>
<body class="root" style="background:#f3f4f4;width:100%;line-height:1.5;text-align:center;margin:0;padding:0">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1.0;"/>

<table class="root" style="border:0;width:100%;background:#f3f4f4;line-height:1.5;text-align:center;margin:0;padding:0">
    <tr>
        <td class="header" valign="bottom" style="height:78px;text-align:center">
            <br>
            <a class="white" style="display:block;color:#31b7e9;text-decoration:none"
               href="https://www.rogeriomenezes.com.br">
                <img style="border:1px solid rgba(0,0,0,0)" width="182px" height="71px"
                     src="https://static.wtis.com.br/c/rogeriomenezes/logo-black.png" alt="Rogério Menezes"/>
            </a>

            <br>
        </td>
    </tr>

    <tr class="body">
        <td>
            <div class="article"
                 style="width:100%; max-width:600px; background:#fff;border:1px solid #e7e8e8;border-radius:2px;margin:auto;padding:2px">

                {% block body %}

                    <div class="content-part line-height-15 justify"
                         style="line-height:1.5;font-family:arial, helvetica, sans-serif;color:#4e4e4e;text-align:justify;font-size:16px;min-height:16px;vertical-align:top;padding:10px 30px">
                        <p style="font-size: 10px">Se não etiver visualizando as imagens deste e-mail, procure a opção
                            “exibir imagens” no seu leitor de e-mail atual, ou então <a href="#">clique aqui para
                                visualizar
                                este e-mail diretamente no navegador.</a></p>
                        <p>Mensagem de exemplo.</p>
                        <p>

                        </p>
                        <div style="text-align: left"></div>
                    </div>
                {% endblock %}

                <div class="content-part"
                     style="font-family:arial, helvetica, sans-serif;color:#4e4e4e;text-align:left;font-size:16px;min-height:16px;vertical-align:top;padding:10px 30px">
                    <div class="hr"
                         style="background:#dcdcdc;width:100%;height:1px;position:relative;display:block"></div>
                </div>


                <div style="font-family:arial, helvetica, sans-serif;color:#959595;text-align:left;font-size:14px;min-height:16px;vertical-align:top;padding:0 30px 10px">
                    <br>
                    Atenciosamente,<br>

                    <table width="470"
                           style="color: #000000; font-family: Helvetica, Arial, sans-serif; font-size: medium; width: 470px; background-color: #fefefe;">
                        <tbody>
                        <tr>
                            <td style="font-family: Arial; margin: 0px; text-align: initial; font-stretch: normal; font-size: 14px; color: #646464;">
                                <div><strong>Equipe Rogério Menezes Leiloeiro Oficial</strong></div>
                                <div style="color: #8d8d8d; font-size: 13px; padding: 5px 0px;">
                                    <a target="_blank"
                                       style="color: #8d8d8d; outline: none; text-decoration: none;">Comercial:
                                        (21) 3812-4345</a><br>
                                    <a target="_blank"
                                       style="color: #8d8d8d; outline: none; text-decoration: none;">Remoções:
                                        (21) 3812-4335</a><br>
                                    <a target="_blank"
                                       style="color: #8d8d8d; outline: none; text-decoration: none;">Leilões:
                                        (21) 3812-4328</a><br>
                                    <a target="_blank"
                                       style="color: #8d8d8d; outline: none; text-decoration: none;">Documentação:
                                        (21) 3812-4315</a><br>
                                    <br><span style="white-space: nowrap; display: inline-block;"><a
                                                href="https://www.rogeriomenezes.com.br" target="_blank"
                                                style="color: #8d8d8d; outline: none; text-decoration: none;">www.rogeriomenezes.com.br</a></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr class="footer">
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
                <tbody>
                <tr>
                    <td height="36" colspan="11">
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" style="margin:0 auto;" align="center">
                            <tbody>
                            <tr>
                                <td width="8">
                                </td>
                                <td width="20"><a
                                            href="https://www.wtis.com.br/mkt/r?url=https://www.facebook.com/rogeriomenezesleiloeiro"
                                            target="_blank"> <img height="20" width="20"
                                                                  src="https://www.wtis.com.br/public_images/mail/t2/fb.png"
                                                                  alt="" title="Facebook"
                                                                  style="border:0;margin:0 auto;display:block">
                                    </a></td>
                                <td width="8">
                                </td>
                                <td width="20"><a
                                            href="https://www.wtis.com.br/mkt/r?url=https://www.youtube.com/rogeriomenezesleiloeirorml"
                                            style="text-decoration:none;display:block;" target="_blank"> <img
                                                height="20" width="20"
                                                src="https://static.wtis.com.br/global/youtube.png" alt=""
                                                title="Youtube" style="border:0;margin:0 auto;display:block">
                                    </a></td>
                                <td width="8">
                                </td>
                                <td width="20"><a
                                            href="https://www.wtis.com.br/mkt/r?url=https://www.instagram.com/rogeriomenezesleiloeiro/"
                                            style="text-decoration:none;display:block;" target="_blank"> <img
                                                height="20" width="20"
                                                src="https://static.wtis.com.br/global/instagram.png" alt=""
                                                title="Instagram" style="border:0;margin:0 auto;display:block">
                                    </a></td>
                                <td width="8">
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="8" colspan="11">
                    </td>
                </tr>
                <tr>
                    <td colspan="11">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
                            <tbody>
                            <tr>
                                <td align="center"
                                    style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:1.5em;letter-spacing:.03em;font-weight:300;text-align:center;font-size:10px;color:#333333;">
                                    Copyright © 2018 rogeriomenezes.com.br all rights reserved.<br>
                                    <a href="https://www.rogeriomenezes.com.br"
                                       style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:1.5em;letter-spacing:.03em;font-weight:300;text-align:center;font-size:10px;color:#333333;"
                                       target="_blank">rogeriomenezes.com.br</a> &nbsp;| <a
                                            href="mailto:contato@rogeriomenezes.com.br"
                                            style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:1.5em;letter-spacing:.03em;font-weight:300;text-align:center;font-size:10px;color:#333333;">contato@rogeriomenezes.com.br</a>
                                    |&nbsp;(21) 3812-4300
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="36" colspan="13">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>


</body>
</html>