{% extends 'base.html.twig' %}

{% block title %}
    <title>SAMPLE TITLE | Rogério Menezes</title>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {# if use particular css, make this
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sobre.css') }}">
    #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# if use particular javascript, make this
    <script src="{{ asset('js/pages/sobre.js') }}"></script>
    #}
{% endblock %}

{% block body %}
    <div>

    </div>
{% endblock %}